<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <title>List</title>
</head>
<body>
    My name is {{name}} !
    <br/>
    <br/>
    {% if is_show %}
        {% for item in data%}
            <p>{{item.title}}</p>
        {% endfor %}
    {% endif %}
</body>
</html>