<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Files</title>
</head>
<body>
<form action="/upload-file" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
    <label for="mp3">Mp3</label>
    <input id="mp3" name="mp3" type="file" value="" />
    <input type="submit" value="submit"/>
</form>

<form>
    <label for="mp4">Mp4</label>
    <input id="mp4" name="mp4" type="file" value=""/>
    <input type="button" value="upload big file" onclick="upload()"/>
    <br/>
    <br/>
    <div style="display: flex">
        进度：
        <div style="background: #eee;flex:1;border-radius: 15px;overflow: hidden;margin:0 5px;">
            <div style="height: 100%;transition: all .3s;border-radius: 15px;background: green;width: 0" id="bar"></div>
        </div>
        <span id="percent">0%</span>
    </div>
</form>
<script>
    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    function update_bar(percent){
        document.getElementById("bar").style.width = percent + '%'
        document.getElementById('percent').innerText = percent + '%'
    }

    async function upload() {
        let file_mp4 = document.getElementById("mp4").files[0]
        if (!file_mp4) {
            return alert('Please choose a file')
        }
        let chunk_size = 1000 * 1024  //切片大小 100kb
        let total_size = file_mp4.size //文件总大小
        let chunk_count = Math.ceil(total_size / chunk_size) //切片数量
        let uploaded_size = 0 //已经上传的大小

        update_bar(0)

        let chunk_num = 0
        function do_upload(){
            let chunk = file_mp4.slice(chunk_num * chunk_size, (chunk_num + 1) * chunk_size)
            let data = new FormData();
            let chunk_file = new File([chunk], file_mp4.name) //重新组装,给切片取个名字,默认名为blob
            data.append("mp4", chunk_file)

            let xhr = new XMLHttpRequest();
            xhr.open("post", "/upload-big-file", true);
            //上传进度
            xhr.upload.onprogress = function (ev) {
                // ev.loaded;//已经上传的文件大小
                // ev.total;//上传总文件大小
                uploaded_size += ev.loaded
                let percent = parseInt((uploaded_size / total_size) * 100);
                console.log("upload: " + percent + '%')
                update_bar(percent)
            }
            xhr.onload = function (){
                if(chunk_num < chunk_count){
                    do_upload();
                }
            }

            xhr.send(data);
            chunk_num++;

            // 储存切片ID， 可以做断点续传
            // localStorage.setItem('chunk_num', i)
        }

        do_upload();
    }
</script>
</body>
</html>