aiomysql==0.2.0
aiopg==1.4.0
PyJWT==2.10.1
curl_cffi==0.7.4
aiohttp==3.11.11
Jinja2==3.1.5
setuptools==67.6.0
colorlog==6.9.0
PyYAML==6.0.2
redis==5.2.1
hiredis==3.1.0
aiomcache==0.8.2
aiohttp-session[secure]==2.12.1
watchfiles==1.0.3
twine==6.0.1
envyaml==1.10.211231